#monthlyCost {
    float: right;
}

.red {
    background-color: red;
    color: white;
    padding: 5px;
}

body {
    padding: 10px;
}

header {
    text-align: center;
}

#required {
    font-size: smaller;
}